.dashboardContainer {
  height: fit-content;

  .conditionSection {
    flex: 1;

    .buttonBox {
      width: 200px;
      float: right;
    }
  }
}

.iconSize {
  font-size: 70px;
}

.loadingContainer {
  justify-content: center;
  width: 100%;
  align-items: center;
  display: flex;
}
